<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Tetromino</title>
  <%- css('base') %>
  <%- js('lib/prefixfree') %>
</head>
<body>

<div class="main container cf">

<% include _nav -%>

<% if (typeof(messages) != 'undefined') {
  -%><% include _errors -%><%
} -%>

<%- body -%>

<a class="fork-me" href="https://github.com/nodebros/tetromino"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>

<% include _modals -%>

</div>

<script src="/socket.io/socket.io.js"></script>
<%- js('base') %>
<% if (typeof(javascripts) != 'undefined') {
  javascripts.forEach(function(script) {
    -%><%- js(script) %><%
  })
} -%>

</body>
</html>
