<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Tetromino</title>
  <%- css('base') %>
  <%- js('lib/prefixfree') %>
</head>
<body>

<div class="main container cf">

<% include _nav -%>

<% if (typeof(messages) != 'undefined') {
  -%><% include _errors -%><%
} -%>

<%- body -%>

<% include _modals -%>

</div>

<script src="/socket.io/socket.io.js"></script>
<%- js('base') %>
<% if (typeof(javascripts) != 'undefined') {
  javascripts.forEach(function(script) {
    -%><%- js(script) %><%
  })
} -%>

</body>
</html>
